{% extends "base.html" %}
{% block content %}
<h3>Change Password</h3>
<form method="post">
    <table>
        <tr>
            <td><label for="old">Old Password: </label></td>
            <td><input type="password" name="old" id="old"/></td>
        </tr>
        <tr>
            <td><label for="new">New Password: </label></td>
            <td><input type="password" name="new" id="new"/></td>
        </tr>
        <tr>
            <td><label for="confirm">Confirm Password: </label></td>
            <td><input type="password" name="confirm" id="confirm"/></td>
        </tr>
    </table>
    <input type="submit">
</form>
{% endblock %}